body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background-color: #f39c12;*/
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url(../public/background.jpg);
  background-size: 100%;
}

/* Basic assets */

.mascotte {
  position: relative;
  top: 8em;
  left: -35em;
  width: 20%;
}

.logo {
  position: relative;
  animation-name: shake;
  animation-duration: 1s;
  width: 10%;
  top: 8em;
  left: 0em;
}

.logo:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.header {
  text-align: center;
  height: 42em;
}

/* For responsivness */

/* Speech Bubble */

.speech-bubble {
  position: relative;
  background: #7f8c8d55;
  border-radius: .4em;
}

.speech-bubble {
  left: 32em;
  top: -23em;
  width: 60em;
  padding: 60px 20px;
  margin: 1em 0;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 100%;
  text-shadow: 0 -0.05em 0.1em rgba(0,0,0,.3);
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-right-color: #7f8c8d55;
  border-left: 0;
  border-bottom: 0;
  margin-top: -15px;
  margin-left: -30px;
}

/* Response Bubble */

.responses {
  display: flex;
  background-color: #f39c1255;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.bubble {
  background: #f39c12;
  border-radius: .4em;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 4px 0 #a96c0b);
  filter: drop-shadow(0 4px 0 #a96c0b);
}

.bubble {
  left: 32em;
  top: -23em;
  width: 20em;
  padding: 10px 20px;
  margin: 1em;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 100%;
  text-shadow: 0 -0.05em 0.1em rgba(0,0,0,.3)
}

h2 {
  font-weight: normal;
}
